$primary: #f6bd60;
$secondary: #f28482;
$text: #0a0a0a;
$background: #faf9f9;
$success: #95d5b2;
$warning: #ffbf69;
$alert: #cc4b37;
$black: #0a0a0a;
$white: #fefefe;
$light-gray: #f7ede2;
$medium-gray: #f5cac3;
$dark-gray: #84a59d;

$mundus-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "text": $text,
  "background": $background,
  "success": $success,
  "warning": $warning,
  "alert": $alert,
  "black": $black,
  "white": $white,
  "lightgray": $light-gray,
  "mediumgray": $medium-gray,
  "darkgray": $dark-gray,
);

// Global elements
body {
  background-color: $background;
  color: $text;
}

a,
.field--type-commerce-price {
  color: $primary;
}

a:hover {
  color: $secondary;
}

.field--name-field-ingredients {
  background-color: $light-gray;
}

.block-views-blockrecipe-collections-block {
  background-color: $dark-gray;
  color: $white;

  a {
    color: $white;
  }
}

// Header elements
header {
  background-color: $background;
  color: $text;
  border-bottom: 3px solid $primary;

  .block-mundus-main-menu,
  .block-commerce-cart,
  .block-mundus-account-menu {
    a {
      color: $text;
    }

    a:hover {
      color: $primary;
    }
  }

  .top-bar {
    background-color: $background;

    ul {
      background-color: $background;
    }
  }

  .dropdown.menu.medium-horizontal {
    li.is-dropdown-submenu-parent {
      a::after {
        color: $primary;
        border-color: $primary transparent transparent;
      }
    }
  }

  .drilldown {
    .is-drilldown-submenu-parent {
      a::after {
        color: $primary;
        border-color: transparent transparent transparent $primary;
      }
    }

    .is-drilldown-submenu {
      background: $background;

      .js-drilldown-back {
        a::before {
          border-color: transparent $primary transparent transparent;
        }
      }
    }
  }

  .title-bar {
    background: $black;
    color: $white;
  }

  .off-canvas {
    background: $light-gray;
  }
}

// Breadcrumbs
.breadcrumbs {
  .current {
    color: $black;
  }

  li:after {
    color: $medium-gray;
  }

  a {
    color: $primary;
  }
}

// Pager
.pagination {
  li {
    a {
      color: $black;
    }

    a:hover {
      background: $light-gray;
    }

    &.current {
      color: $white;
      background: $primary;
    }
  }
}

// Cart and checkout elements
.cart {
  .field--type-commerce-price {
    color: $text;
  }

  tbody {
    background-color: $background;
  }
}

.checkout-pane-order-summary {
  tbody {
    background-color: $background;
  }

  footer {
    .field--type-commerce-price {
      color: $text;
    }
  }
}

// Facet
.accordion-menu {
  .is-accordion-submenu-parent:not(.has-submenu-toggle) {
    .block-title {
      border-bottom: 1px solid $primary;
      background: $light-gray;
    }

    a:hover {
      color: initial;
    }

    a::after {
      color: $primary;
      border-color: $primary transparent transparent;
    }
  }
}

// Card element
.card {
  background: $white;
  border: 1px solid $light-gray;
  color: $text;
}

// Tabs elements
.tabs {
  background: $white;
  color: $primary;

  .tabs-title {
    background: $primary;

    .active {
      background: $light-gray;
      color: $primary;
    }
  }
}

// Buttons
.button {
  color: $white;

  &.success {
    background-color: $success;
    color: $black;
  }

  &.secondary {
    background-color: $secondary;
    color: $white;
  }

  &.submenu-toggle {
    color: $text;
  }

}

.button:hover {
  background: scale-color($primary, $lightness: -15%);
}

// Orbit element
.orbit-bullets {
  button {
    background: $medium-gray;

    &.is-active {
      background: $dark-gray;
    }
  }
}

.orbit-container {
  button:hover {
    background: rgba($black, 0.5);
  }
}

.orbit-caption {
  background: rgba($black, 0.5);
}


// Footer elements
footer {
  background-color: $background;
  border-top: 3px solid $primary;

  .menu {
    a {
      color: $text;
    }

    a:hover {
      color: $primary;
    }
  }
}
