{#
/**
 * @file
 * Default theme implementation for the checkout progress.
 *
 * Available variables:
 * - steps: An array of steps, where each step has the following keys:
 *   - id: The step ID.
 *   - label: The step label.
 *   - position: 'previous', 'current' or 'next'.
 *
 * @ingroup themeable
 */
#}
<ol class="checkout-progress clearfix">
  {% for step in steps %}

    {% set stepIcon =
      step.id == 'login' ? 'fi-torso-business' :
      step.id == 'order_information' ? 'fi-info' :
      step.id == 'review' ? 'fi-clipboard-pencil' :
      step.id == 'complete' ? 'fi-shopping-bag' : stepDefaultIcon %}

    <div class="checkout-steps">
      <i class="{{ stepIcon }} step-icon"></i>
      <div class="checkout-progress--step checkout-progress--step__{{ step.position }}">{{ step.label }}</div>
      {% if step.position == 'previous' %}
        <i class="fi-checkbox"></i>
      {% endif %}
    </div>

  {% endfor %}
</ol>
