{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% if top_bar %}
  {% if top_bar_sticky %}
    <div id="top-bar-sticky-container" data-sticky-container>
  {% endif %}
  <div {{ top_bar_attributes }} class="top-menu">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="inCanvasExample"></button>
      <div class="title-bar-title off-canvas position-left" id="inCanvasExample" data-off-canvas
           data-options="inCanvasOn:medium;">
        {{ menus.menu_links(items, attributes, 0, 1) }}
        {% if top_bar_search %}
          {{ top_bar_search }}
        {% endif %}
        {% if top_bar_languageswitcher %}
          {{ top_bar_languageswitcher }}
        {% endif %}
      </div>
    </div>
    <nav class="top-bar" id="main-menu" role="navigation">
      {% if site_logo is not empty %}
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{ site_logo }}</li>
          </ul>
        </div>
      {% endif %}
      <div class="top-bar-right off-canvas position-left" id="inCanvasExample" data-off-canvas
           data-options="inCanvasOn:medium;">
        {{ menus.menu_links(items, attributes, 0, 1) }}
        {% if top_bar_search %}
          {{ top_bar_search }}
        {% endif %}
        {% if top_bar_languageswitcher %}
          {{ top_bar_languageswitcher }}
        {% endif %}
      </div>
    </nav>
  </div>
  {% if top_bar_sticky %}
    </div>
  {% endif %}
{% else %}
  {{ menus.menu_links(items, attributes, 0, 0) }}
{% endif %}

{% macro menu_links(items, attributes, menu_level, top_bar) %}
  {% import _self as menus %}
  {% if items %}
    {% if top_bar %}
      {% if menu_level == 0 %}
<button class="close-button" aria-label="Close alert" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
<ul{{ attributes.addClass('menu', 'vertical', 'medium-horizontal').setAttribute('data-responsive-menu', 'drilldown medium-dropdown').setAttribute('data-parent-link', 'true')  }}>
  {% else %}
  <ul class="submenu menu vertical" data-submenu>
    {% endif %}
    {% else %}
    {% if menu_level == 0 %}
    <ul{{ attributes.addClass('dropdown', 'menu') }} data-dropdown-menu>
      {% else %}
      <ul class="menu">
        {% endif %}
        {% endif %}
        {% for item in items %}
          {% if top_bar %}
            {% set item_classes = [
              item.below is not empty ? 'has-submenu' ,
              item.is_expanded ? 'menu-item--expanded',
              item.is_collapsed ? 'menu-item--collapsed',
              item.in_active_trail ? 'menu-item--active-trail is-active',
            ] %}
          {% endif %}
          <li{{ item.attributes.addClass(item_classes) }}>
            {{ link(item.title, item.url) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, top_bar) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endmacro %}
