// Non-modular or client styles for .l-footer region.
footer {
  background-color: $light-gray;
  border: 1px solid rgba(10,10,10,.25);
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  margin-top: 20px;

  &.grid-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;

    .grid-x {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      max-width: 75rem;
      margin: 0 auto;

      .large-4 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #footer-first {
        justify-content: flex-start;

        @include breakpoint(small only) {
          justify-content: center;
        }
      }

      #footer-first,
      #footer-middle,
      #footer-last {
        @include breakpoint(small only) {
          text-align: center;
        }
      }

      .menu {
        display: block;
      }
    }
  }
}
