// Non-modular or client styles for .l-header region.
header {
  margin: auto;

  .grid-container {
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;

    #block-mundus-branding {
      display: inline-block;

      @include breakpoint(medium down) {
        width: initial;
      }

      a {
        display: block;
        text-align: center;

        img {
          width: 60%;
        }
      }
    }

    #block-mundus-main-menu {
      display: inline-flex;
      max-width: 60%;
      justify-content: flex-start;

      .grid-container,
      .top-menu {
        width: 100%;
      }

      .top-bar {
        align-items: initial;

        .top-bar-right {
          width: 100%;
          display: inline-flex;
          justify-content: space-around;

          .right {
            display: inline-flex;
            align-items: center;
            list-style: none;
            margin: 0;

            input {
              margin: 0;
            }
          }
        }
      }

      ul {
        li.is-dropdown-submenu-parent:hover {
          ul.is-dropdown-submenu {
            display: block;
          }
        }
      }

      @include breakpoint(medium down) {
        width: initial;
      }

      @include breakpoint(small only) {
        .title-bar {
          width: fit-content;
          margin: 0 0 10px 10px;
        }
      }
    }

    .search-block-form {
      display: inline-flex;

      form {
        display: inline-flex;
        align-items: center;
      }
    }

    .menu {
      align-items: center;

      li {
        display: inline-block;

        @include breakpoint(medium down) {
          display: initial;
        }
      }
    }

    .language-switcher-language-url {
      margin-bottom: 0;
      display: inline-flex;
      vertical-align: middle;

      ul {
        margin: auto;

        li {
          margin: auto;
          list-style: none;
        }
      }

      .submenu-toggle {
        height: 30px;
      }
    }

    #block-mundus-account-menu {
      display: inline-block;
      vertical-align: middle;
      margin: auto 2%;

      ul {
        margin: auto;

        li {
          display: inline-block;
        }
      }
    }

    .block-commerce-cart {
      display: inline-block;
      vertical-align: revert;

      .cart-block--contents {
        width: fit-content;
      }
    }
  }
}
