// Non-modular or client styles for the .l-content region.
.grid-container:last-child {
  margin-bottom: initial;
}

.l-help {
  margin: 10px auto;
}

#main {
  margin-top: 20px;

  div {
    width: 100%;
  }
}

.path-frontpage {
  #main {
    margin-top: 0;
  }
}

.field--block-content-cklb-title {
  font-size: $lead-font-size;
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
}

.field {
  margin-bottom: 20px;
}

.block-mundus-views-block-promoted-items-block-1 {
  .grid-x {
    flex-flow: initial;

    @include breakpoint(small only) {
      flex-flow: column;
    }
  }
}

article,
.views-row {
  height: 100%;

  .card {
    height: 100%;

    .field {
      margin-bottom: 0;
    }

    .card-section {
      display: grid;
      align-items: end;

      .read-more {
        display: flex;
        align-items: end;
      }
    }
  }
}

.view-promoted-items--double {
  height: 100%;
  top: 3%;
  position: relative;
}

.field--name-field-tags,
.field--name-field-recipe-category {
  .field-label {
    display: inline-flex;
  }

  .field-label:after {
    content: ":";
  }

  .field__items {
    display: inline-flex;

    .field__item {
      margin-right: 5px;
    }
  }
}

.field--node-field-media-image {
  img {
    width: auto;
  }
}

.field--name-field-ingredients {
  padding: 20px;
  margin-right: 20px;

  .field-label {
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  .field__items {
    .field__item {
      padding: 5px;
    }
  }
}

table {
  .handle {
    height: 25px;
  }
}

.field--name-field-recipe-instruction {
  li {
    margin-bottom: 10px;
  }
}
