.checkout-progress {
  text-align: center;

  .checkout-steps {
    display: inline-block;
    width: 20%;

    .step-icon {
      display: block;
      font-size: 48px;
    }

    .fi-checkbox {
      font-size: 24px;
    }
  }
}
