.hero-background,
.region-highlighted {
  img {
    width: 100%;
  }
}

.hero-content {
  position: relative;
  bottom: 200px;
  left: 50px;

  @include breakpoint(small only) {
    bottom: 100px;
    left: 20px;
  }
}

.banner-content {
  position: absolute;
  bottom: 300px;
  left: 50px;
  max-width: 40%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0,0,0,.4);
  color: rgb(255 255 255);
  border-width: 1px;
  border-color: rgb(70 70 70);

  @include breakpoint(medium down) {
    position: initial;
    max-width: 100%;
    background-color: initial;
    color: initial;
  }
}
