#block-mundus-local-tasks {
  .button {
    a {
      display: inline-flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

.dropbutton-wrapper {
  margin: 0;

  .dropdown-pane {
    width: auto!important;
    li {
      padding: 1rem;
    }
  }
}
