.off-canvas {
  .drilldown {
    padding: 10px 0;

    li {
      a {
        background: transparent;
      }
    }
  }

  .right {
    list-style: none;
    margin-left: 0;

    .has-form {
      padding: 5px 10px;
    }
  }

  .drilldown {
    .is-drilldown-submenu-parent {
      a::after {
        left: 80px;
      }
    }
  }
}
