.views-element-container {
  header {
    margin: 70px auto 20px auto;
  }
}

.block-views-blockrecipe-collections-block {
  margin-top: 30px;
  padding: 20px;

  h2 {
    text-align: center;
  }

  .views-col {
    justify-content: center;
    display: grid;
  }
}
