.js .color-preview {
  float: none !important;
  clear: both;
}

.color-preview {
  overflow: hidden;
  margin-bottom: 10px;
  word-wrap: break-word;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.color-preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #1779ba;
}

.color-preview-main-menu {
  clear: both;
  padding: 0 15px 3px;
}

/* Menu links */
.color-preview-main-menu-links {
  margin: 0;
  padding: 0;
  font-size: 0.929em;
}

.color-preview-main-menu-links li {
  position: relative;
  display: inline;
  padding: 0.6em 0 0.4em;
  list-style-type: none;
}

.color-preview-main-menu-links a {
  padding: 0.6em 1em 0.4em;
  cursor: pointer;
  color: currentColor;
}

.color-preview-main-menu-links .after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 2px;
  content: "";
  transition: all 0.2s ease-in-out;
  transform: translateX(-50%);
  background-color: #41449f;
  background-color: transparent;
}

.color-preview-main-menu-links a:hover {
  text-decoration: none;
}

/* Sidebar */
.color-preview-sidebar,
.color-preview-content {
  position: relative;
  display: inline;
  float: left; /* LTR */
}

[dir="rtl"] .color-preview-sidebar,
[dir="rtl"] .color-preview-content {
  float: right;
}
.color-preview-sidebar {
  width: 210px;
  margin-left: 15px; /* LTR */
}
[dir="rtl"] .color-preview-sidebar {
  margin-right: 15px;
  margin-left: 0;
}
.color-preview-content {
  width: 26.5em;
  margin-left: 30px; /* LTR */
}
[dir="rtl"] .color-preview-content {
  margin-right: 30px;
  margin-left: 0;
}
.color-preview-sidebar .preview-block {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: #e9e9f2;
}

.color-preview-sidebar h2 {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #babad3;
  font-weight: normal;
}

.color-preview .preview-block .preview-content {
  margin-top: 1em;
}
.color-preview .preview-block-menu .preview-content,
.color-preview .preview-block-menu .preview-content ul {
  margin-top: 0;
}
.color-preview-main {
  margin: 20px 0;
}
.color-preview-page-title {
  margin: 1em 0 0.5em;
  color: black;
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
}

.color-preview-main-color {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  transform: translate(50%, 50%) rotate(45deg);
  background: #41449f;
}
