<div class="color-preview">

  <div class="color-preview-header">
    <div class="color-preview-logo"><img width="160" src="../../../core/themes/bartik/logo.svg" alt="Site Logo" /></div>
    <div class="color-preview-main-menu">
      <ul class="color-preview-main-menu-links">
        <li><a>Home</a></li>
        <li><a>Te Quidne<span class="after"></span></a></li>
        <li><a>Vel Torqueo Quae Erat</a></li>
      </ul>
    </div>
  </div>

  <div class="color-preview-main clearfix">
    <div class="color-preview-sidebar">
      <div class="color-preview-block preview-block">
        <h2>Etiam est risus</h2>
        <div class="preview-content">
          Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
          Laboris nisi ut aliquip ex ea.
        </div>
      </div>
    </div>
    <div class="color-preview-content">
      <h1 class="color-preview-page-title">Lorem ipsum dolor</h1>
      <div class="color-preview-node">
        <div class="preview-content">
          Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a>exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
        </div>
      </div>
    </div>
  </div>

  <div class="color-preview-main-color"></div>
</div>
